<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Récapitulatif de votre commande</h1>
      <p>Vous offrez à <strong> <%=@order_gift.fullname_guest %> </strong> la <strong><%= @order_gift.gift.name %> </strong> au prix de <strong><%= @order_gift.amount %> €</strong></p>
      <button id="pay" class="btn btn-primary">Régler</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order_gift.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
