<h3>Nouvelle commande de carte cadeau <%= @order_gift.gift.name %></h3>

<p>Client => <%= @order_gift.fullname%></p>
<p>email => <%= @order_gift.email %></p>
<p>Bénéficiaire => <%= @order_gift.fullname_guest %></p>
<p>email du bénéficiaire => <%= @order_gift.email_guest %></p>

<h3>Graine de mômes - Gift</h3>
