<div class="navbar-lewagon">
  <div class="nav-items">
    <a href="https://grainedemomes.com/"><img src="../assets/logo.png" alt=""></a>
    <%= link_to "Boutique", root_path %>
    <%= link_to "Offrir", new_order_gift_path %>
    <a href="https://grainedemomes.com/content/13-la-location-mode-d-emploi">Louer</a>
    <a href="https://grainedemomes.com/content/1-guide-des-tailles" target="blank">Guide des tailles</a>
  </div>


  <div class="cart">
    <%= link_to cart_path(@current_cart) do %>
      <i class="fab fa-opencart"></i>
      <% cart = @current_cart %>
      <% items = 0 %>
      <% cart.line_items.each do |i| %>
        <% items += 1 %>
      <% end %>
      <% if items > 0 %>
        <p><%= items %></p>
      <% end %>
    <% end %>
  </div>
</div>
<% if params[:controller] == "pages"%>
  <%= render 'shared/search_filters' %>
<% end %>
