<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div>
      <%= link_to "Braderie", root_path, class: "dropdown-item" %>
      <%= link_to "Carte Cadeau", gifts_path, class: "dropdown-item" %>
    </div>
  </div>

  <div class="cart">
    <%= link_to cart_path(@current_cart) do %>
      <i class="fab fa-opencart"></i>
      <% cart = @current_cart %>
      <% items = 0 %>
      <% cart.line_items.each do |i| %>
        <% items += 1 %>
      <% end %>
      <% if items > 0 %>
        <p><%= items %></p>
      <% end %>
    <% end %>
  </div>
</div>
<% if params[:controller] == "pages"%>
  <%= render 'shared/search_filters' %>
<% end %>
