<div class="container">
  <%= simple_form_for @order do |f| %>
    <%= f.input :fullname, label: false, placeholder: 'votre nom et prénom' %>
    <%= f.input :email, label: false, placeholder: 'votre e-mail' %>
    <%= f.input :address, label: false, placeholder: 'adresse' %>
    <%= f.input :zipcode, label: false, placeholder: 'code postal' %>
    <%= f.input :city, label: false, placeholder: 'ville' %>
   <div>
    <div>
      <span style="font-size: 24px;">
        Total:
      </span>
      <span style="font-size: 24px;">
        <%= @cart.sub_total %> €
        <br>
      </span>
    </div>
    <br>
      <%= f.submit 'confirmer votre commande', class: 'btn-oval' %>
  </div>
  <% end %>
</div>
