<div class="container">
  <%= simple_form_for @order do |f| %>
    <%= f.input :fullname, label: false, placeholder: 'votre nom et prénom' %>
    <%= f.input :email, label: false, placeholder: 'votre e-mail' %>
    <%= f.input :address, label: false, placeholder: 'adresse' %>
    <%= f.input :zipcode, label: false, placeholder: 'code postal' %>
    <%= f.input :city, label: false, placeholder: 'ville' %>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="cgv">
        <label class="form-check-label" for="cgv">J'accepte les conditions générales de vente</label>
    </div>
   <div>
    <div>
      <span style="font-size: 24px;">
        Total:
      </span>
      <% if @cart.sub_total >= 60.to_money %>
        <span style="font-size: 24px;">
          <%= @cart.sub_total %> € - les frais de port sont offerts
          <br>
        </span>
      <% else %>
        <span style="font-size: 24px;">
          <%= @cart.sub_total %> € + <%= @cart.promotion %> de frais de port
          <br>
        </span>
      <% end %>
    </div>
    <br>
      <%= f.submit 'confirmer votre commande', class: 'btn-oval' %>
    <br>
  </div>
  <% end %>
  <br>
</div>
