<div class="container">
    <div class="col">
      <h3>Votre commande n°<%= @order.id %> est confirmée.</h3>
      <h5>Récapitulatif en détail :</h5>
      <ul class="list-unstyled">
        <li><strong>Date de votre commande</strong>: <%= @order.created_at.to_date %></li>
        <li><strong>Vos article(s): </strong></li>
        <% @order.line_items.each do |item| %>
          <li style="padding-left: 16px;"><%= item.product.name %></li>
        <% end %>
        <br>
        <li><strong>Montant total</strong> <%= @order.amount %>€</li>
        </li>
      </ul>
      <p>Le délai de livraison est estimé à <strong>2 jours ouvrés</strong>.</p>
      <br>
      <h5>A bientôt sur Graîne de Mômes.</h5>
      <br>
      <%= link_to "Retour à la boutique", root_path, class: "btn-oval", id: "retour"%>
    </div>
</div>
