<div>
  <div class="home">
    <h2>Boutique</h2>
    <h5>"Seconde Main"</h5>
    <img src="../assets/coeur-background.png" alt="">
  </div>
  <div class="cards">
    <% @products.each do |product| %>
      <% if product.stock > 0 %>
        <div class="wrapper">
          <div class="top">
            <%= link_to product_path(product) do %>
              <span><%= cl_image_tag product.cover.key, class: "front-picture"%></span>
              <span><%= cl_image_tag product.photo.key, class: "back-picture"%></span>
              <span class="size"><%= product.size.name %> mois</span>
            <% end %>
          </div>
          <div class="bottom">
            <div style="display:flex;">
              <h3><%= product.name %></h3>
              <%= link_to line_items_path(product_id: product.id), method: :post, remote: true do %>
                <i class="fas fa-cart-plus" id="icone"></i>
              <% end %>
            </div>
            <div style="display:flex;">
              <h5><%= product.price %>€</h5>
              <!-- icone eye for smallest device -->
              <%= link_to product_path(product) do %>
                <i class="fas fa-eye" id="eye"></i>
              <% end %>
              <h5 id="savoir"><%= link_to "en savoir +", product_path(product) %></h5>
            </div>
          </div>
        </div>
      <% else %>
        <div class="wrapper">
          <div class="top">
            <%= link_to product_path(product) do %>
              <span><%= cl_image_tag product.cover.key, class: "front-picture"%></span>
              <span><%= cl_image_tag product.photo.key, class: "back-picture"%></span>
              <span class="size"><%= product.size.name %> mois</span>
            <% end %>
          </div>
          <div class="bottom">
            <div style="display:flex;">
              <h3><%= product.name %></h3>
              <!-- If quantity equal 0, Product cannot be added to a cart -->
              <p id="available">Victime de son succès</p>
            </div>
            <div style="display:flex;">
              <h5><%= product.price %>€</h5>
              <!-- icone eye for smallest device -->
              <%= link_to product_path(product) do %>
                <i class="fas fa-eye" id="eye"></i>
              <% end %>
              <h5 id="savoir"><%= link_to "en savoir +", product_path(product) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
