<h3>Nouvelle commande sur la boutique</h3>

<p>Client => <%= @order.fullname%></p>
<p>email => <%= @order.email %></p>
<p>adresse => <%= @order.address %></p>
<p>CP => <%= @order.zipcode %></p>
<p>Ville => <%= @order.city %></p>

<p>Détails =></p>
<% @order.line_items.each do |item| %>
	<p><%= item.product.name %> - taille <%= item.product.size.name %> mois- RÉF: <%= item.product.sku %></p>
<% end %>

<h3>Graine de mômes - Boutique</h3>


