<!-- NEW FOR ORDER_GIFT -->
<div class="gift-container">
  <div class= "gift-text">
    <h3>CARTE CADEAU</h3>
    <h5>Faites plaisir à de jeunes parents !</h5>
    <br>
    <h3>Comment ça marche ?</h3>
      <h5><strong>1.</strong> Sélectionnez la formule</h5>
      <h5><strong>2.</strong> Complétez le formulaire et procédez au paiement</h5>
      <h5><strong>3.</strong> Recevez par e-mail votre carte cadeau</h5>
      <h5><strong>4.</strong> Le bénéficiaire active la carte au moment de sa sélection (sans date d'expiration)</h5>
  </div>
  <br>
  <div class="form-container">
    <%= simple_form_for @order_gift do |f| %>
      <fieldset class="form-group required">
        <input type="hidden" name="order_gift[gift_id][]" value="">
        <h3>Choisissez votre formule</h3>

        <div class="gift-choices">
          <% Gift.all.each do |gift| %>
            <input class="d-none required" type="radio" value="<%= gift.id %>" name="order_gift[gift_id]" id="order_gift_gift_id_<%= gift.id %>">
            <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="order_gift_gift_id_<%= gift.id %>">
              <img src="../assets/<%= gift.id %>.png" alt="">
            </label>
          <% end %>
        </div>
      </fieldset>
      <%= f.input :fullname, label: false, placeholder: "Votre nom" %>
      <%= f.input :email, label: false, placeholder: "Votre e-mail" %>
      <%= f.input :fullname_guest, label: false, placeholder: "Le nom du bénéficiaire" %>
      <%= f.input :email_guest, label: "Pour un envoi direct au bénéficiaire, merci de saisir son adress e-mail:", placeholder: "l'e-mail du bénéficiaire" %>
      <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="cgv">
          <label class="form-check-label" for="cgv">J'accepte les conditions générales de vente</label>
      </div>
      <br>
      <%= f.submit 'Validez', class: 'btn-oval' %>
    <% end %>

  </div>

</div>
