<!-- NEW FOR ORDER_GIFT -->
<div class="gift-container">
  <div class= "gift-text">
    <h3>Faites votre cadeau maintenant</h3>
    <h5>Vous souhaitez offrir un cadeau à quelqu’un qui vous est cher ?</h5>
    <h5>Une future maman ou de jeunes parents ?</h5>

    <h3>Comment ca marche ?</h3>
      <h5><strong>1.</strong> Sélectionnez la formule parmi nos 4 choix d'abonnement que vous souhaitez offrir</h5>
      <h5><strong>2.</strong> Payez rapidement et simplement en ligne après avoir rempli les informations sur la personne à qui vous souhaitez offrir votre cadeau</h5>
      <h5><strong>3.</strong> Recevez un email à imprimer adressé à la personne souhaitée avec un code de réduction pour son abonnement</h5>
  </div>
  <br>
  <div class="form-container">
    <%= simple_form_for @order_gift do |f| %>
      <fieldset class="form-group required">
        <input type="hidden" name="order_gift[gift_id][]" value="">
        <h3>Quelle formule vous souhaitez offrir?</h3>

        <div class="gift-choices">
          <% Gift.all.each do |gift| %>
            <input class="d-none required" type="radio" value="<%= gift.id %>" name="order_gift[gift_id]" id="order_gift_gift_id_<%= gift.id %>">
            <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="order_gift_gift_id_<%= gift.id %>">
              <img src="../assets/<%= gift.id %>.png" alt="">
            </label>
          <% end %>
        </div>
      </fieldset>
      <%= f.input :fullname, label: false, placeholder: "Votre nom" %>
      <%= f.input :email, label: false, placeholder: "Votre e-mail" %>
      <%= f.input :fullname_guest, label: false, placeholder: "Le nom du bénéficiaire" %>
      <%= f.input :email_guest, label: "Pour un envoi direct au bénéficiaire, merci de saisir son adress email:", placeholder: "l'e-mail du bénéficiaire" %>
      <br>
      <%= f.submit 'Validez', class: 'btn-oval' %>
    <% end %>

  </div>

</div>
