<div class="container">
  <div class="row py-4">
    <div class="col">
        <h3>Votre commande n°<%= @order_gift.id %> est confirmée.</h3>
        <h3>Récapitulatif en détail :</h3>
        <ul class="list-unstyled">
          <li><strong>Date de votre commande</strong>: <%= @order_gift.created_at.to_date %></li>
          <li><strong>Sélection</strong>: <%= @order_gift.gift.name %></li>
          <li><strong>A l'attention de</strong>: <%= @order_gift.fullname_guest %></li>
          <br>
          <li><strong>Montant total</strong> <%= @order_gift.amount %>€</li>
        </ul>
        <br>
        <p>A bientôt sur Graîne de Mômes.</p>
        <br>
        <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
