<div class="container form-container">
 <%= simple_form_for(@product) do |f| %>
   <div class="form-top">
    <div class="gift-choices">
      <fieldset class="form-group required">
        <input type="hidden" name="product[category_id][]" value="">
        Choose your category?

        <div>
          <% Category.all.each do |category| %>
            <input class="d-none required" type="radio" value="<%= category.id %>" name="product[category_id]" id="product_category_id_<%= category.id %>">
            <label class="form-check-label-gift collection_radio_buttons gift-choice" for="product_category_id_<%= category.id %>">
              <%= category.name %>
            </label>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="gift-choices">
      <fieldset class="form-group required">
        <input type="hidden" name="product[size_id][]" value="">
        Choose your size?

        <div>
          <% Size.all.each do |size| %>
            <input class="d-none required" type="radio" value="<%= size.id %>" name="product[size_id]" id="product_size_id_<%= size.id %>">
            <label class="form-check-label-gift collection_radio_buttons gift-choice" for="product_size_id_<%= size.id %>">
              <%= size.name %>
            </label>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="gift-choices">
      <fieldset class="form-group required">
      <input type="hidden" name="product[genre_id][]" value="">
      Choose your genre?

      <div>
        <% Genre.all.each do |genre| %>
          <input class="d-none required" type="radio" value="<%= genre.id %>" name="product[genre_id]" id="product_genre_id_<%= genre.id %>">
          <label class="form-check-label-gift collection_radio_buttons gift-choice" for="product_genre_id_<%= genre.id %>">
            <%= genre.name %>
          </label>
        <% end %>
      </div>
      </fieldset>
    </div>

    <%= f.input :name, label: 'Nom' %>
    <p>Prix en boutique</p>
    <%= f.number_field :old_price_cents, label: "Prix (en centimes)" %>
    <br>
    <p>Prix Graîne de mômes</p>
    <%= f.number_field :price_cents, label: "Prix (en centimes)"%>
    <%= f.input :sku, label: 'Référence (SKU)' %>
    <%= f.input :description, label: 'Ajoutez une description', as: :text %>
    <div class="d-flex">
      <%= f.input :cover, label: 'Ajoutez une photo de couverture', as: :file %>
      <%= f.input :photo, label: 'Ajoutez une seconde photo', as: :file %>
    </div>
   </div>
   <div class="form-button">
    <%= f.submit "Créer le produit", class: 'btn btn-primary' %>
   </div>
   <br>
 <% end %>
</div>
