<div class="container">
  <div class="cards" style="margin-top: 100px;">
    <% @products.each do |product| %>
      <div class="wrapper">
        <div class="top">
          <%= link_to product_path(product) do %>
            <span><%= cl_image_tag product.cover.key, class: "front-picture"%></span>
          <% end %>
        </div>
        <div class="bottom">
          <div style="display:flex;">
            <h3><%= product.name %></h3>
            <%= link_to line_items_path(product_id: product.id), method: :post do %>
              <i class="fas fa-cart-plus" id="icone"></i>
            <% end %>
          </div>
          <div style="display:flex;">
            <h5 style="text-decoration: line-through;"><%= product.old_price %>€   </h5>
            <h5> <%= product.price %>€</h5>
            <h5><%= link_to "en savoir +", product_path(product) %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
