<!DOCTYPE html>
<html prefix="og: https://www.grainedemomes-shop.com/">
  <head>
    <title>Graine de Mômes</title>
    <meta name="description" content="la fast-fashion écolo">
    <meta property="og:title" content="Graine de Mômes">
    <meta property="og:description" content="la fast-fashion écolo">
    <meta property="og:url" content="https://www.grainedemomes-shop.com/">
    <meta property="og:image" content="https://www.grainedemomes-shop.com/logo.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'favicon.ico'%>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158922890-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158922890-1');
    </script>
  </head>

  <body>
    <%= render 'shared/bandeau' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/margin-navbar' %>
    <div class="content-wrapper"><%= yield %></div>
    <%= render 'shared/picto' %>
    <%= render 'shared/footer' %>
  </body>
</html>
